# Data types in python
- numbers
- variables
- strings
- arrays
- list
- dictionary
- set

## Types of Numbers
- Integers
- Floating-Point numbers
- Complex numbers

### Integers
- Integers are the number such as 1, 8, -6, 100,...
- Integer arithmetic is exact
### Floating-Point Numbers
- These are the representation of real numbers
- In general, the representation do not have the exact value is approximated value
- Any single number containing a period (“.”) is considered by Python to specify a floating-point number

In [1]:
4/3

1.3333333333333333

In [195]:
6-5.7

0.2999999999999998

### Complex Numbers
- Numbers of the form $a+bj$
- It consists of real part and imaginary part
- Each part of complex number is a floating-point number
- Complex number arithmetic is not exact but subject to the same finite precision considerations as floats.

In [2]:
complex(2,6)

(2+6j)

In [4]:
a=2+6j
type(a)

complex

## Basic Arithmetic
- Addition +
- Subtraction -
- Multiplication *
- Floating-point division /
- Integer Division (quotient) //
- Modulus (remainder) %
- Exponentiation

In [5]:
# Addition
2+3

5

In [6]:
# Subtraction
2-3

-1

In [7]:
# Multiplication
2*3

6

In [8]:
# Floting-point division
2/3

0.6666666666666666

In [13]:
# Integer division
# Always rounds down the result to
# the nearest smaller integer
# Also known as floor division
2//3

0

In [15]:
8.5//3

2.0

In [10]:
5//2

2

In [11]:
5%2

1

In [12]:
5**2

25

### Methods and Attributes of Numbers
Python numbers are objects and have certain attributes, which are accessed using the "dot". For instance, complex number objects have the attributes real and imag, which are real and imaginery parts of the number.

In [16]:
(2+6j).real

2.0

In [17]:
(7+4j).imag

4.0

Other attributes of complex number objects are `methods`: callable functions that act on their object in some way. For instance, `conjugate` is a method for the object complex number.

In [18]:
(7+4j).conjugate()

(7-4j)

Here, the empty parentheses indicate that the method is to be `called`, i.e., the function to calculate the complex conjugate is to be run on the number $7+4j$

## Mathematical Functions
Built-in mathe matical functions are `abs` and `round`.

In [19]:
abs(-5.7)

5.7

In [25]:
abs(3+5j)

5.830951894845301

In [21]:
abs(-2)

2

In [26]:
abs(3+4j)

5.0

In [27]:
round(-9.72)

-10

In [28]:
round(4.567)

5

In [29]:
round(4.567,2)

4.57

Python is a very modular language: functionality is available in packages and modules that are `imported` if they are needed but are not loaded by default: this keeps the memory required to run a Python program to a minimum and improves performance.


For instance, many useful mathematical functions are provided by the `math` module, which is imported with the statement `import math`

In [30]:
import math
math.exp(0)

1.0

In [31]:
math.cos(0)

1.0

In [32]:
math.sqrt(16)

4.0

In [33]:
math.pi

3.141592653589793

In [34]:
math.factorial(5)

120

For more details about math module you can visit its [documentation](https://docs.python.org/3/library/math.html).

# Variables
When an object created (like `float`) in a Python, memory is allocated for it: the location of this memory within the computer's architecture is called `address`

> A `variable` is a name that refers to a value.

A variable name can be assigned (“bound”) to any object and used to identify that object in future calculations

In [35]:
id(5.3)

2533340724720

This number refers to a specific location in memory that has been allocated to hold the
float object with the value 5.3.

In [37]:
a = 3
b = -0.5
c = a*b
c

-1.5

Note that we did not have to declare the variables before we assign them (tell Python
that the variable name `a` is to refer to an integer, `b` is to refer to a floating-point number, etc.), as is necessary in some computer languages.

### Variable Names
There are some rules about what makes a valid variable name:
- Variable names are *case-sensitive*: a and A are different variables;
- Variable names can contain any letter, the underscore character (“_”) and any digit (0–9)
- ... but must not *start with* a digit;
- A variable name must not be the same as one of the reserved keywords given in given Table.
- The built-in constant names `True`, `False` and `None` cannot be assigned as variable names.
- There are total 35 reserved key words in Python, you can't use as variable name.

```
and       del       from      None      True
as        elif      global    nonlocal  try
assert    else      if        not       while
break     except    import    or        with
class     False     in        pass      yield
continue  finally   is        raise     async
def       for       lambda    return    await


```

Good practice in naming variables:
- Variable names should be meaningful (area is better than a) but not too long (the_area_of_the_triangle is unwieldy);
- Generally, don’t use I (upper-case i), l (lower-case L) or the upper-case letter O: they look too much like the digits 1 and 0;
- The variable names i, j and k are usually used as integer counters;
- Use lower-case names, with words separated by underscores rather than “CamelCase”: for example, *mean_height* and not *MeanHeight*.

In [39]:
# Example
a = 4.5
b = 2
c = 3.902
s = (a + b + c)/2
area = math.sqrt(s * (s-a)*(s-b)*(s-c))
area

3.8935866886713875

In [40]:
type(s)

float

In [41]:
id(s)

2533356147184

In [42]:
id(area)

2533342439632

## Operators

The main comparison operators used in Python to compare
objects are given below:


|     | Operator                |
| --- | ----------------------  |
| ==  | Equal to                |
| !=  | Not Equal to            |
| >   | Greater than            |
| <   | Less than               |
| >=  | Greater than or equal to|
|<=   | Less than or equal to   |

In [43]:
7 == 8

False

In [44]:
4 >= 3.14

True

- The single equals sign is an *assignment*, which doesn't return a value
- The double equals sign is a logical statement which return `True` or `False`.

In [45]:
a = 0.01
b = 0.1**2
a == b

False

In [46]:
c = 4.5
c = a 
c

0.01

### Logical Operators
Comparisons can be modified and strung together with the logic operator keywords `and`, `not` and `or`.

In [47]:
7.0 > 4 and -1 >= 0

False

In [48]:
5 < 4 or 1 != 2

True

In [49]:
not 7.5 < 0.9

True

In [50]:
not 7.5 < 0.9 or 4 == 4

True

In [51]:
not(7.5 < 0.9 or 4 == 4)

False

In [52]:
not(7.5 < 0.9 and 4 == 4)

True

# Strings

- A Python string onject is an ordered, immutable
sequence of characters.

- To define a  variable containing some string, enclose the text in either single or double quotes.

- Strings used to store text data in python

In [1]:
greet = 'Sairam, I am Sampath!'
print(greet)

Sairam, I am Sampath!

In [13]:
type(greet)

str

In [3]:
# + operator useful to perform adding strings
'Sairam' +' ' + 'Sampath'

'Sairam Sampath'

In [5]:
'Sairam '  'Sampath'

'Sairam Sampath'

Python doesn't place any restriction on the length of a line. However, it's recommended that the maximum length of each line string of length upto 79 characters. To break up a string over two or more lines of code, use the line continuation character, "\" or enclose the string literal in parentheses.

In [17]:
# Multiple lines
long_string = 'Sairam brothers, we continue to learning python,'\
    'during the course, we also solve problems from MDSC-101,102 and 103...'

In [18]:
long_string

'Sairam brothers, we continue to learning python,during the course, we also solve problems from MDSC-101,102 and 103...'

In [11]:
# empty string
s = ''
s

''

In [12]:
# Converting int to string
str(42)

'42'

In [15]:
str(3.4e-2)

'0.034'

In [16]:
str(3.4e2)

'340.0'

### Escape Sequences
- Do you want include both quotes in a string?
- Do you want include more than one line in the string?

This case is handled by special escape sequences indicated by a
backslash, \. 

### Common Python escape sequences
|Escape sequence | Meaning         |
| -------------- | -------         |
|\'              | Single quote(') |
|\"              | Double quote(") |
|\n              | Linefeed(LF)    |
|\r              | Carriage return |
|\t              | Horizontal tab  |
|\b              | Backspace       |
|\\              | The backslach character itself |
|\u, \U, \N{}    | Unicode character|
|\x              | Hex-encoded byte |

In [19]:
sentence = "He said, \"This parrot's dead.\""
sentence

'He said, "This parrot\'s dead."'

In [20]:
print(sentence)

He said, "This parrot's dead."

In [21]:
subjects = 'MDSC-101\nMDSC-102\nMDSC-103\nMDSC-106'
subjects

'MDSC-101\nMDSC-102\nMDSC-103\nMDSC-106'

In [22]:
print(subjects)

MDSC-101
MDSC-102
MDSC-103
MDSC-106

### Note:

-  By typing a variable’s name at the Python shell prompt simply echoes its
literal value back to you (in quotes).
- To produce the desired string including the proper interpretation of special characters, pass the variable to the `print` built-in function.


If you want to define a string to include character sequences such
as “\n” without them being escaped, define a raw string prefixed with `r`.

In [23]:
rawstring = r'The escape sequence for a new line \n.'
rawstring

'The escape sequence for a new line \\n.'

In [24]:
print(rawstring)

The escape sequence for a new line \n.

### Triple-quoted strings
When defining a block of text including several line endings it is often inconvenient to
use \n repeatedly. This can be avoided by using _triple-quoted_ strings: new lines defined
within strings delimited by """ and ''' are preserved in the string.

In [28]:
a = """
Hello!!
How are you?
Sairam.
"""
a

'\nHello!!\nHow are you?\nSairam.\n'

In [29]:
print(a)

Hello!!
How are you?
Sairam.

In [32]:
'\b'

'\x08'

## Indexing and Slicing Strings
- *Indexing* a string returns a single character at a given location. Like
all sequences in Python, strings are indexed with the first character having the index 0;
- *Slicing* a string, $s[i:j],$ produces a substring of a string between the characters at two
indexes, including the first (i) but excluding the second (j);

In [33]:
a = 'Knight'
a[0]

'K'

In [34]:
a[-1]

't'

In [35]:
a[-4]

'i'

In [36]:
a[6]

IndexError: string index out of range

In [37]:
a[1:3]

'ni'

In [38]:
a[:3]

'Kni'

In [39]:
a[3:]

'ght'

In [40]:
a[:]

'Knight'

In [42]:
a[:3]+a[3:] == a

True

In [43]:
a[3:10]

'ght'

In [44]:
# To test if a string contains a given substring
'Kni' in a

True

In [45]:
'kni' in a

False

In [46]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [50]:
# Stride in a string
# To return every kth letter,
# set the stride to k.

s = 'Robert Langlands'
s[::2] # striding 2 over s

'Rbr agad'

In [48]:
s[::3]

'Re nas'

In [49]:
s[1::2]

'oetLnlns'

In [51]:
# Reversing a string
s[::-1]

'sdnalgnaL treboR'

## String Methods
- Python strings are *immutable* objects.
- It's NOT possible to change a string by assignment
- New strings can be constructed from existing strings, but only as new objects
- To find the number of characters a string contains, we use `len` built-in method

In [52]:
a = 'Knight'
a[0] = 'b'

TypeError: 'str' object does not support item assignment

In [55]:
a += ' King'
a

'Knight King King'

In [54]:
a

'Knight King'

In [56]:
len(a)

16

In [57]:
a

'Knight King King'

### Some common string Methods
![Drag Racing](2021-08-22.png)

In [58]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [59]:
a.lower()

'knight king king'

In [60]:
a.upper()

'KNIGHT KING KING'

In [62]:
a

'Knight King King'

In [64]:
a.replace('King','Queen')

'Knight Queen Queen'

In [65]:
a.split()

['Knight', 'King', 'King']

## The `print` function

- In Python 3, `print` is a built-in function
- We discuss two standard string formating, number formatting methods

In [66]:
'{} plus {} equals {}'.format(2,3,'five')

'2 plus 3 equals five'

In [67]:
a =134
'a={0:5d}'.format(a) #decimal

'a=  134'

In [68]:
'a={0:10b}'.format(a) #binary

'a=  10000110'

In [70]:
'a={0:5o}'.format(a)

'a=  206'

In [72]:
print('{0:5d}\n{1:+5d}\n={2:+3d}'.format(-4510,1001,-3026))

-4510
+1001
=-3026

In [74]:
a = 1.464e-7
'{0:g}'.format(a)

'1.464e-07'

In [77]:
'{0:15.10f}'.format(a)

'   0.0000001464'

In [79]:
'{0:10f}'.format(a)

'  0.000000'

## f-strings
-  A string literal denoted with a `f` before the quotes can evaluate expressions placed within braces, including references to variables, function calls and comparisons
- This provides an expressive and concise way to define string objects
- It supported from Python 3.6+

In [80]:
name = 'Langalands'
f'The name {name} has {len(name)} letters and {name.lower().count("e")} "e" s.'

'The name Langalands has 10 letters and 0 "e" s.'

In [84]:
Hyd_Bangalore = 635
Bangalore_Chennai = 462
total_distance = Hyd_Bangalore + Bangalore_Chennai
print("The total distnce travelled:", total_distance, 'km')

The total distnce travelled: 1097 km

In [85]:
mph = 60
time = total_distance / mph
print('Total time taken to travel', total_distance, ' km is', round(time,3))

Total time taken to travel 1097  km is 18.283

# Lists
- Python provides data structures for holding an *ordered* list of objects
- In languages like C and Fortran such data structure is called an *array* and it can hold only one type of data (for instance, an array of integers)
- The array structure in python can hold a mixture of data types
- A Python *list* is an ordered, mutable array of objects.
- A list is constructed by specifying the objects, separated by commas, between square brackets []
- Python list can contain references to any type of object: strings, the various
types of numbers, built-in constants such as the boolean value True, and even other lists.

In [86]:
list1 = [1, 'two', 3.14, 0]
list1

[1, 'two', 3.14, 0]

In [87]:
a = 4
list2 = [2, a, -0.1, list1, True]

In [88]:
list2

[2, 4, -0.1, [1, 'two', 3.14, 0], True]

In [90]:
# empty list
list0 = []
list0

[]

In [91]:
list2[1]

4

In [92]:
list2

[2, 4, -0.1, [1, 'two', 3.14, 0], True]

In [94]:
list2[3]

[1, 'two', 3.14, 0]

In [95]:
list2[3][1]

'two'

In [96]:
list2[3][1][1:]

'wo'

In [97]:
4 in list2

True

In [98]:
'two' in list2

False

In [99]:
'two' in list2[3]

True

In [100]:
q1 = [1, 2, 3]
q2 = q1 
q1[2] = 'two'
q1

[1, 2, 'two']

In [101]:
q2

[1, 2, 'two']

In [102]:
# Slicing the list
q1 = [0., 0.1, 0.2, 0.3, 0.4, 0.5]
q1[1:4]

[0.1, 0.2, 0.3]

In [105]:
q1[::-1] # return a reversedcopy of the list

[0.5, 0.4, 0.3, 0.2, 0.1, 0.0]

In [106]:
q1[1::2] # striding: returns element at 1, 3, 5

[0.1, 0.3, 0.5]

In [107]:
q2 = q1[1:4] 
q2[1] = 99 
q2

[0.1, 99, 0.3]

In [108]:
q1

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5]

## List Methods
- Python *list* come with a large number of useful methods.
- Since the *list* are mutable, they can grow or shrink in a place
- Some useful *list* methods
  - `append` - add an item to the end of the list
  - `extend` - add one or more objects by copying them from another list
  - `insert` - insert an item at a specified index;
  - `remove` - remove a specified item from the list.
  - `reverse` - Reverse the list in place
  - `sort` - Sort the list in place
  - `copy` - Return a copy of the list
  - `count` - Return the number of elements equal to element in the list
  - `index` - Return the lowest index of the list containg element
  - `pop` - Remove and return the last element from the list

In [138]:
dir(q1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [111]:
q = []
q.append(4)
q

[4]

In [112]:
q.extend([6,7,9])
q

[4, 6, 7, 9]

In [113]:
q.insert(1,5) # insert 5 at index 1
q

[4, 5, 6, 7, 9]

In [114]:
q.remove(7)

In [115]:
q

[4, 5, 6, 9]

In [116]:
q.append(6)
q

[4, 5, 6, 9, 6]

In [117]:
q.index(6)

2

In [119]:
q.sort()
q

[4, 5, 6, 6, 9]

In [122]:
q.reverse()
q

[9, 6, 6, 5, 4]

In [124]:
q.pop()
q

[9, 6, 6]

In [125]:
q = ['a', 'e','b','f','A','X']
q.sorted()

AttributeError: 'list' object has no attribute 'sorted'

In [126]:
sorted(q)

['A', 'X', 'a', 'b', 'e', 'f']

In [129]:
q.sort()
q

['A', 'X', 'a', 'b', 'e', 'f']

> By default, `sort()` and `sorted()` order the items in an array in *ascending order*

In [127]:
sorted(q,reverse=True) # for descending order

['f', 'e', 'b', 'a', 'X', 'A']

In [130]:
q = [5, '4', 3, 2, 1]
sorted(q)

TypeError: '<' not supported between instances of 'str' and 'int'

In [131]:
q.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

# Tuples
- A tuple can be thought as an immutable list.
- Tuples are constructed by placing the items inside the parentheses.
- Tuples can be *indexed* and *sliced* in the same way as *lists* but, being *immutable*, they
cannot be *appended* to, *extended* or have elements removed from them.

In [132]:
t = (1,'two',3)
t

(1, 'two', 3)

In [133]:
type(t)

tuple

In [134]:
t[1]

'two'

In [135]:
t[2] = 4

TypeError: 'tuple' object does not support item assignment

In [136]:
t = (1, list1, 0)
t

(1, [1, 'two', 3.14, 0], 0)

In [137]:
type(t)

tuple

In [139]:
t[1][1] = 'Three' # Ok to change the list within the tuple
t

(1, [1, 'Three', 3.14, 0], 0)

# Disctionaries

- A *disctionay* in Python is a type of "associative array"
- A dictionary can contain any objects as its values, but unlike sequences such as lists and tuples, in which the items are indexed by an integer starting at 0, each item
in a dictionary is indexed by a unique *key*, which may be any *immutable* object.
- The distcionry is a collection of *key-value* pairs
- Disctionaries are *mutable* objects
- The dictionary *keys* must be unique, the dictionary *values* need not be.

In [140]:
height = {'Burj Khalifa': 828., 'One World Trade Center': 541.3,
          'Mercury City Tower': -1., 'Q1':323.,
          'Eiffel Tower': 324}

In [141]:
height

{'Burj Khalifa': 828.0,
 'One World Trade Center': 541.3,
 'Mercury City Tower': -1.0,
 'Q1': 323.0,
 'Eiffel Tower': 324}

In [142]:
type(height)

dict

In [143]:
height['Burj Khalifa']

828.0

In [144]:
building = 'Q1'
height[building]

323.0

In [147]:
height['The Shard'] = 306.0

In [148]:
height

{'Burj Khalifa': 828.0,
 'One World Trade Center': 541.3,
 'Mercury City Tower': -1.0,
 'Q1': 323.0,
 'Eiffel Tower': 324,
 'The Shard': 306.0}

An alternative way of defining a dictionary is to pass a sequence of *(key, value)*
pairs to the dict constructor.

In [149]:
ordinal = dict([(1,'First'),(2,'Second'),(3,'Third')])
mass = dict(Mercury=3.301e23, Venus=4.867e24, Earth=5.972e24)
mass

{'Mercury': 3.301e+23, 'Venus': 4.867e+24, 'Earth': 5.972e+24}

In [150]:
mass['Earth']

5.972e+24

In [151]:
ordinal[2]

'Second'

## Methods in Dictionary
Some useful dictionary methods.
- `get` - used to retrive the value, given a key if it exists
- `keys` - return a dictioney keys
- `values` - return a dictionary values
- `items` - return a dictionary items

In [152]:
dir(mass)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [154]:
mass.values()

dict_values([3.301e+23, 4.867e+24, 5.972e+24])

In [155]:
mass.keys()

dict_keys(['Mercury', 'Venus', 'Earth'])

In [156]:
planets = mass.keys()
planets

dict_keys(['Mercury', 'Venus', 'Earth'])

In [157]:
print(planets)

dict_keys(['Mercury', 'Venus', 'Earth'])

In [158]:
planet_list = list(mass.keys())

In [160]:
planet_list

['Mercury', 'Venus', 'Earth']

In [161]:
planet_list[0]

'Mercury'

# Sets

- A `set` is an *unordered* collection of  *unique items*
- A set is useful for removing duplicates from a sequence
and for determining the union, intersection and difference between two collections.
- Since they are unordered, set objects cannot be indexed or sliced, but they can be iterated over, tested for membership and they support the `len` built-in.
- A `set` is created by listing its elements between braces ({...}) or set() constructor.

In [162]:
s = set([1,1,4,3,2,2,3,4,1,3,'Surprise!'])
s

{1, 2, 3, 4, 'Surprise!'}

In [163]:
type(s)

set

In [164]:
len(s)

5

In [165]:
2 in s

True

In [166]:
6 not in s

True

In [167]:
4 in s, 6 not in s

(True, True)

## Methods in set
The following are some useful methods in set object
- `add` - to add elemts to given set
- `remove` - to remove a specified element but raises a *KeyError exception* if the element is not present in the set;
- `discard` - It does the same as remove but does not raise an
error in this case.
- `pop` -  removes an arbitrary element from the set 
- `clear` -removes all elements from the set

In [168]:

s = {2, -2, 0}
s.add(1)
s

{-2, 0, 1, 2}

In [169]:
s.add(-1)
s.add(1.0)
s

{-2, -1, 0, 1, 2}

In [170]:
s.remove(1)
s

{-2, -1, 0, 2}

In [172]:
s.discard(3)
s

{-2, -1, 0, 2}

In [173]:
s.remove(3)

KeyError: 3

In [174]:
s.pop()
s

{-2, -1, 2}

In [176]:
s.clear()
s

set()

In [177]:
dir(s)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

### Set methods for set operations
- union
- intersection
- difference
- symmetric_difference
- isdisjoint
- issubset
- issuperset

In [181]:
A = set([1,2,3])
B = set((1,2,3,4))
A <= B

True

In [182]:
A.issubset(B)

True

In [184]:
C, D = set((3,4,5,6)), set((7,8,9))
B | C # union

{1, 2, 3, 4, 5, 6}

In [185]:
A | C | D

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [186]:
A & C # intersection

{3}

In [187]:
C & D

set()

In [188]:
C.isdisjoint(D)

True

In [189]:
B - C # difference

{1, 2}

In [190]:
B^C # symmetric difference

{1, 2, 5, 6}

## Frozensets
- sets are mutable objects
- A frozenset object is immutable set
- Frozensets are fixed, unordered collections of unique objects and can be used as dictionary keys and
set members.

In [191]:
a = set((1,2,3))
b = set(('q',(1,2),a))

TypeError: unhashable type: 'set'

In [193]:
a = frozenset((1,2,3))
b = set(('q',(1,2),a))
b

{(1, 2), frozenset({1, 2, 3}), 'q'}

In [194]:
dir(a)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']